body {
  font-family: "Arial", sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section {
  text-align: center;
}

#game-score-status {
  margin-top: 5%;
}

#game-status {
  margin-bottom: 5%;
}
.game-grid-container {
  display: grid;
  grid-template-columns: 6.2% 25% 6.2% 25% 6.2% 25% 6.2%;
  grid-template-rows: 6.2% 25% 6.2% 25% 6.2% 25% 6.2%;
  width: 350px;
  height: 350px;
  margin: 8% auto;
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 50px;
  margin: auto;
  background-color: rgb(83, 81, 81);
}

.line-horizontal {
  height: 5px;
  background-color: lightgray;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
}

.line-vertical {
  height: 100%;
  width: 5px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
}

.bg-red,
.hover-red:hover {
  background-color: rgb(255, 100, 131);
}

.bg-blue,
.hover-blue:hover {
  background-color: rgb(136, 136, 253);
}

.txt-red {
  font-weight: bold;
  color: rgb(255, 100, 131);
}

.txt-blue {
  font-weight: bold;
  color: rgb(136, 136, 253);
}
.box {
  width: 100%;
}
